@import "https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900&amp;display=swap";
body {
    font-family: exo, sans-serif;
    background: #f5f5f5;
}
.header {
    background: #5140bf;
    width: 100%;
    height: 240px;
}
.header .content {
    width: 100%;
    position: absolute;
    padding: 45px 0;
    height: 240px;
    z-index: 888;
}
.header .content h1 {
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    margin: 25px 0;
}
.header .content form {
    position: relative;
}
.header .content input {
    width: 100%;
    border: none;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 4px;
}
.header .content i {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 22px;
}
.header .content input::placeholder {
    color: #fff;
}
.header .content input:focus {
    outline: none;
    background: #fff;
    color: #000;
}
.header .content input:focus::placeholder {
    color: #616161;
}
.header .content input:focus > .header .content i {
    color: #616161;
}
main .container {
    padding: 45px 0;
}
.card {
    padding: 45px;
}
.flex-link {
    color: #616161;
}
.flex-link:hover {
    color: #616161;
    text-decoration: none;
}
.flex-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-color: transparent;
    transition: all ease 0.3s;
}
.flex-card:hover {
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.flex-card .title {
    font-size: 24px;
    color: #4046bf;
}
.flex-card .subtitle {
    font-size: 14px;
    font-weight: 300;
}
.card-category {
    background-color: #e9ecef;
    border: none;
}
.card-category .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    color: #4046bf;
    margin-bottom: 15px;
}
.card-category .title svg {
    margin-right: 40px;
    width: 50px;
    height: 50px;
    color: #616161;
}
.card-category .cards {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style-type: none;
}
.card-category .cards li {
    width: 100%;
    padding: 25px;
    background: #fff;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.card-category .cards li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: none;
}
.card-category .cards li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.card-category .cards .cards-title {
    font-size: 18px;
    color: #4046bf;
}
.card-category .cards .cards-resume {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}
.card-article {
    border: none;
    padding: 45px 85px;
}
.card-article h1 {
    font-size: 28px;
    font-size: 500;
}
.card-article h2 {
    font-size: 16px;
    font-size: 600;
    color: #616161;
}
.step .step-title {
    font-size: 22px;
}
.step .step-body {
    padding: 25px;
    background: rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    border-radius: 5px;
}
.step .step-footer button {
    background-color: #4046bf;
    color: #fff;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.step .step-footer button:last-child {
    float: right;
}
.step .step-footer button:disabled {
    background-color: #616161;
}
.step .step-footer button:focus {
    outline: none;
}
.footer {
    padding: 45px 0;
    background-color: #fff;
    text-align: center;
}
.footer h5 {
    font-weight: 800;
    color: #616161;
    margin-bottom: 0;
}
.footer h6 {
    font-size: 13px;
    font-weight: 400;
    color: #616161;
    text-transform: uppercase;
}
.footer p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 10px;
}
.footer p a {
    font-weight: 600;
    color: #23107a;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 900px;
    }
}
.first {
    text-transform: capitalize;
    display: inline-block;
}
